.App{
    position: relative;
    width: 1512px;
    height: 982px;

    background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
}

@media  screen and (max-width:960px) {
    .App{
        position: relative;
        width: 960px;
        height: 1194px;

        background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
    }
}

@media  screen and (max-width:375px) {
    .App{
        position: relative;
        width: 375px;
        height: 813px;
        overflow-y: scroll;

        background: #F6F2FF;
    }
    
}